@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #21252b;
    font-family: 'Poppins', sans-serif
}
.container{
    width: 340px;
    border: 2px solid #0ff;
    padding: 20px 30px;
    border-radius: 20px;
}
.top p{
    font-size: 20px;
    margin-bottom: 3px;
    color: #0ff;
}
.form div{
    margin: 35px 0;
    position: relative;
    width: 280px;
}
.form div input{
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    border: 2px solid #0ff;
    background: transparent;
    color: #fff;
}
.form div input:focus{
    outline: 1px solid #0ff;
}

.form div label{
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 15px;
    font-size: 18px;
    padding: 10px;
    color: #cccc;
    transition: 0.3s;
}
.form div input:focus ~ label,
.form div input:valid ~ label{
    color: #0ff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    top: -13px;
    left: 30px;
    padding: 2px 5px;
    background: rgba(33,37,43);
}

.btn{
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    background: rgba(33,37,43);
    color: #fff;
    border: 2px solid #0ff;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background:#0ff;
    color: #000;
}
.author p{
    font-size: 20px;
    margin-bottom: 3px;
    color: red;
}
